:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  --neutral-light: #BEDDDB;
  --neutral-dark: #1A223D;
  --accent-light: #DBE2B3;
  --accent-dark: #3F4D60;

  color-scheme: light dark;
  color: var(--neutral-dark);
  background-color: var(--neutral-light);
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


/* @media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */
