* {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  --neutral-light: #BEDDDB;
  --neutral-dark: #1A223D;
  --accent-light: #DBE2B3;
  --accent-dark: #3F4D60;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  background-color: var(--neutral-light);
  color: var(--neutral-dark);
}

.navbar {
  width: 100%;
  height: 80px;
  border-bottom: 2px solid var(--neutral-dark);
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  height: inherit;
}

.nav-item {
  font-weight: bold;
}

